.select {
    color: darkgreen;
    background-color: darkseagreen;
}

.option {
    color: darkgreen;
    background-color: darkseagreen;
}

.option:checked {
    color: darkgreen;
    background-color: darkseagreen;
}

.option:hover {
    background: red;
}