.greeting {
    display: flex;
    align-items: flex-start;
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}

.input {
    margin: 10px;
    background: darkgreen;
    color: lightgreen;
}

.input:focus {
    outline:none;
    border: lightgreen;
}

errorInput {
    margin: 10px;
    background: darkgreen;
    color: lightgreen;
    border: 2px solid red;
    outline: none;
}

.button {
    margin: 10px;
    width: 60px;
    background: darkgreen;
    color: lightgreen;
}